.Container {
  position: relative;
  perspective: 500px;
}

.Container:focus .FieldFront {
  transform: rotateY(180deg);
}

.Container:focus .FieldBack {
  transform: rotateY(0);
}

.FieldFront {
}

.FieldBack {
  transform: rotateY(-180deg);
}

.FieldFront,
.FieldBack {
  border: 1px solid #666;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.3s;
}

.Easy {
  width: 25%;
  height: 25%;
}

.Medium {
  width: 12.5%;
  height: 12.5%;
}

.Hard {
  width: 10%;
  height: 10%;
}
